:root{
    /*Colors*/
    --dark: #364156;
    --light: #f7f7ff;
    --blue: #4bb3fd;
    --yellow: #FFCD03;

    /*Fonts*/
    --header: "Fredericka the Great";
    --copy: 'Poppins';
}

*, *:before, *:after{
    margin: 0;
}

#gatsby-focus-wrapper{
    height: 100vh;
}

body{
    background: var(--dark);
}


.header{
    padding: 0.5em 0 0.5em;
    height: 8vh;
}

@media (min-width: 992px){
    .header{
        padding-left: 1em;
    }
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px){
    .brand{
        justify-content: flex-start; 
    }
}

.brand-name{
    text-align: center;
    margin-left: 1em;
}

.brand-name h1, .brand-name p{
    color: var(--light);
}

.brand-name h1{
    font-family: var(--header);
    font-size: 2.5rem;
}

.brand-name p{
    text-transform: uppercase;
    font-family: var(--copy);
    font-weight: 300;
}

.call-to-action{
    height: calc(92vh - 1em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.call-to-action h2{
    font-family: var(--header);
    color: var(--light);
    font-size: 2.25em;
}

@media (min-width: 992px){
    .call-to-action h2{
        font-size: 3em;
    }
}

.call-to-action p{
    font-family: var(--copy);
    color: var(--yellow); 
    max-width: 95%;
    text-align: center;
    font-weight: 300;
}

.inquiries{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
}

@media (min-width: 992px){
    .inquiries{
        align-items: center;
        justify-content: center;
    }   
}

.inquiries p{
    color: var(--light);
    font-family: var(--copy);
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1em;
}


#icons{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.icon{
    stroke-width: 1;
    background: var(--blue);
    border-radius: 8px;
    height: 2em;
    width: 2em;
    padding: 1em;
    
}




